.bg-dark {
 background-color: black !important;
}
.navbar-brand{
    background-color: black !important;
}

body {

  height: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

h2:hover {
 
  transform: scale(1.03); 
}

 h1{
   font-family: 'Raleway', sans-serif ;
    font-weight: bolder;
    color: white;
    font-size: 7vw;
    text-transform: uppercase;
   


}
p{
  font-size: 15px; 
  font-family: 'Raleway', sans-serif ;
  color: lightgrey




}

h2{
    font-family: 'Raleway', sans-serif ;
    font-weight: bolder;
    font-size:5vw;
    text-transform: uppercase;
    text-align: end

}

a{

    color:white

}
a:hover {

  color: white;

}