.bg-dark {
 background-color: black !important;
}
.navbar-brand{
    background-color: black !important;
}
h1{
   
    font-size: 45pt;
    text-transform: uppercase
    
}

h2{
text-transform: uppercase;
  color: black;
  text-align:left;
  font-size: 20pt

}

body{
background-color: orange
}

#test:hover{
transform: scale(1.1)
}