.bg-dark {
 background-color: black !important;
}
.navbar-brand{
    background-color: black !important;
}

h1{
    
    font-family:  'Raleway', sans-serif ;
    font-weight: bolder;   
    font-size: 7vw;
    text-transform: uppercase
    
}
p{
    font-family:  'Raleway', sans-serif ;
     text-align: justify;
    text-justify: inter-word;
}


.carousel-item {
  height: 80vh;
  min-height: 100px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}