.bg-dark {
 background-color: black !important;
}
.navbar-brand{
    background-color: black !important;
}
body{
    background-color: black;
}
.button{
   background-color:white;
}
h1{
    
    font-size:7vw;
    font-family: 'Raleway', sans-serif ;
    font-weight: bolder;
    text-transform: uppercase;
    color: white
}



/* Add a hover effect if you want */
.fa:hover {
  text-decoration: none;
}

/* Set a specific color for each brand */

/* Facebook */
.fa{
    width: 100px
}
.fa-facebook {
     
  color: white;
}

/* Instagram */
.fa-instagram {
    
  color:white;
}

/* youtube */
.fa-youtube {
   
  color:white;
}
ul 
{
line-height:200%;
color: white;
}

h2{
  color:white
}

a{ color:inherit}