.bg-dark {
 background-color: black !important;
}
.navbar-brand{
    background-color: black !important;
}

h1{
   
    font-size: 45pt;
    text-transform: uppercase
    
}
p{
     text-align: justify;
    text-justify: inter-word;
}

h2{
    font-size:45px;
    text-transform: uppercase;
}