.bg-dark {
 background-color: black !important;
}
.navbar-brand{
    background-color: black !important;
}

body {
  max-width: auto;
  height: 100%;
  background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
}


h1{
   color: white;
    font-size: 7vw;
    text-transform: uppercase
    
    
}
p{
  font-size: 1vw;
     color: white;
      text-align: end
    
    
}

h2{
    font-size:4vw;
    text-transform: uppercase;
    text-align: end
    
}

a{
     
    color:white
   
}
a:hover {
  
  color: white;
  
}